/* ----------------------------------------------------------------------

	1. BODY

---------------------------------------------------------------------- */

		html{
			background: #f6f6f6 url(../img/bg4.jpg) center center no-repeat;
			color: #333;
			font: 300 16px 'Bree Serif', serif;
			height: 100%;
			width: 100%;
			}

			#intro {
				font-size: 0;
				height: 100%;
				text-align: center;
				position: relative;
				z-index: 1;
				width: 100%;
				}
				#intro:before {
				    content: "";
				    display: inline-block;
				    height: 100%;
				    vertical-align: middle;
				}
				#intro > img {
				    display: inline-block;
				    max-width: 600px;
				    vertical-align: middle;
				    width: 100%;
				}

			
	
	

	





