	
	@font-face {
		font-family: 'bg-bold';
		src: url('fonts/bg-bold.eot');
		src: url('fonts/bg-bold.eot?#iefix') format('embedded-opentype'),
		     url('fonts/bg-bold.woff') format('woff'), 
		     url('fonts/bg-bold.ttf')  format('truetype'),
		     url('fonts/bg-bold.svg#bg-bold') format('svg'); 
		}

	@font-face {
		font-family: 'bg-light';
		src: url('fonts/bg-light.eot');
		src: url('fonts/bg-light.eot?#iefix') format('embedded-opentype'),
		     url('fonts/bg-light.woff') format('woff'), 
		     url('fonts/bg-light.ttf')  format('truetype'),
		     url('fonts/bg-light.svg#bg-light') format('svg'); 
		}


	html{
		width: 100%;
		height: 100%;
		}

	body{
		background: #fff;
		color: #333;
		font: normal 16px 'bg-light', arial, sans-serif; 
		}

	.gold{
		color: #cfb53b;
		}

		.menu_small{
			background: #fff;
			position: fixed;
			width: 100%;
			z-index: 10;
			}

			.menu_small .menu_bar{
				border-bottom: 1px #f4f4f4 solid;
				height: 50px;
				}

				.menu_small .menu_bar .burger{
					border: 1px #f4f4f4 solid;
					cursor: pointer;
					display: block;
					height: 36px;
					margin: 6px 20px 0 0;
					position: relative;
					width: 36px;
					}

					.menu_small .menu_bar .burger .bar{
						background: #cfb53b;
						height: 2px;
						left: 5px;
						position: absolute;
						top: 9px;
						width: 26px;
						}

						.menu_small .menu_bar .burger .bar.bar_2{
							top: 17px;
							}

						.menu_small .menu_bar .burger .bar.bar_3{
							top: 25px;
							}

		.menu_large{
			background: #fff;
			border-right: 1px #f4f4f4 solid;
			height: 100%;
			max-width: 270px;
			min-width: 153px;
			position: fixed;
			text-align: center;
			width: 20%;
			z-index: 10;
			}

			.menu_content{
				height: 270px;
				margin: auto;
			  	position: absolute;
			  	top: 0; left: 0; bottom: 0; right: 0;
				}

				.logo{
					border: 1px #333 solid;
					display: inline-block;
					padding: 24px 20px 23px 20px;
					}

				.menu_small .logo{
					border: none;
					padding: 13px 20px 13px 20px;
					}

				.menu_large ul,
				.menu_small ul{
					border-top: 1px #f4f4f4 solid;
					display: block;
					margin: 30px 0 0 0;
					}

				.menu_small ul{
					border: none;
					display: none;
					margin: 0;
					}

					.menu_large ul li,
					.menu_small ul li{
						border-bottom: 1px #f4f4f4 solid;
						cursor: pointer;
						padding: 15px 0;
						}

					.menu_small ul li{
						padding: 15px 0 15px 20px;
						}

					.menu_large ul li:hover,
					.menu_small ul li:hover{
						background: #fafafa;
						}

		.sections{
			position: absolute;
			top: 100%;
			min-height: 100%;
			width: 100%;
			}

			.section{
				display: block;
				margin: 40px 0;
				min-height: 100%;
				width: 100%;
				}

				.section_content{
					border-top: 1px #f4f4f4 solid;
					min-height: 100%;
					text-align: left;
					width: 80%;
					}

					.section_content h1{
						border: 1px #333 solid;
						display: inline-block;
						padding: 10px 20px;
						margin: 40px 0 20px 50px;
						text-transform: uppercase;
						}

					.section_content h2{
						display: inline-block;
    					border-bottom: 1px solid #333;
						margin: 50px 0 10px 50px;
						position: relative;
						text-transform: uppercase;
						top: -2px;
						}

					.section_content p{
						max-width: 800px;
						padding: 0 30px 30px 50px;
						}


		.ceremony.outer{
		    display: table;
		    position: absolute;
		    height: 100%;
		    margin: 0 0 0 20%;
		    width: 80%;
			}

			.middle{
			    display: table-cell;
			    vertical-align: middle;
				}

				.inner{
				    margin-left: auto;
				    margin-right: auto; 
				    width: 80%;
					}

		.barbados{
			position: relative;
			}

			.barbados .locations{
				margin: 0 0 15px 40px;
				}

				.barbados .locations .country{
					width: 100px;
					display: inline-block;
					margin: 0 5px;
					text-align: center;
					}

					.barbados .locations .country .map{
						border: 1px #333 solid;
						cursor: pointer;
						height: 80px;
						margin: 0 0 10px 0;
						padding: 10px;
						text-align: center;
						width: 80px;
						}


						.barbados .locations .country .map.uk{
							background: url(../img/icon_uk.png) 5px 5px no-repeat;
							}

							.barbados .locations .country .map.active.uk,
							.barbados .locations .country .map.uk:hover{
								background: url(../img/icon_uk.png) 5px -85px no-repeat;
								}

						.barbados .locations .country .map.north_america{
							background: url(../img/icon_north_america.png) 5px 5px no-repeat;
							}

							.barbados .locations .country .map.active.north_america,
							.barbados .locations .country .map.north_america:hover{
								background: url(../img/icon_north_america.png) 5px -85px no-repeat;
								}

						.barbados ul{
							padding: 0 50px 0 80px;
							max-width: 760px;
							}

							.barbados ul li{
								list-style-type: square;
								padding: 0 0 15px 0;
								}

			.flight_info{
				display: none;
				}

		.contact{
			position: relative;
			}

			.contact a{
				color: #cfb53b;
				}




/*-------------------- SMALL SCREENS --------------------*/

.small .menu_large,
.large .menu_small{
	display: none;
	}

.small .outer,
.small .section_content{
	margin: 0;
	width: 100%;
	}



